.idea/
BasicBloomFilter/__pycache__/
IBLT/__pycache__/
/venv/
Random_IBLT/__pycache__/
__pycache__/
*/__pycache__/
*.txt
laptop_test_data_mega.json

server_test_data_mega.json

early_exit_test_data.json

quick_result_parse.csv

quick_result_parse.json
